{{#each this}}
    <ul>
    		<div class="{{id}}">
    			<button type="button">Vote!</button>
    		</div>
        <li>{{Name}}</li>
        <li>{{Quote}}</li>
        ======================================================
    </ul>
{{/each}}