{{#each this}}
    <ul>
    		<div class="VoteButton" id={{id}}>
    			<button type="button">Vote!</button>
    		</div>
        <li id="Name">{{Name}}</li>
        <li id="Quote" style="display:inline;">{{Quote}}</li>
        <li class="NumVotes" style="display:inline; float:right;">{{Votes}}</li>
        ======================================================
    </ul>
{{/each}}